streamlit==1.40.2
langchain==0.3.13
langchain-google-genai==2.3.3
chromadb==0.6.13
sentence-transformers==3.0.1
rank-bm25==0.2.2
cross-encoder==2.1.1
pymupdf==1.24.10
python-dotenv==1.0.1
google-generativeai==0.9.5
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
rouge-score==0.1.2
